

.background {
  background-image: url('../public/23600.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .hero-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/mansion11.jpg');
  color: #fff;
  
} */

.servicesImage {
  background-image: url('../public/1617.jpg');
  background-size: cover;
  background-position: center;
}

.aboutImage {
  background: url('../public/luxury-room.jpg') rgba(255, 0, 150, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.loginBackgroundImage {
  background-color: slateblue;
  background-image: url('../public/mansion7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-blend-mode: multiply;

}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}



.house-case-background {
  background-color: steelblue;
  background-image: url('../public/mansion6.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

}




